<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="weather_news.css" />
  </head>

  <body>
    {{#if weatherData}}<div><h2>Weather</h2></div>{{/if}}
    <div class="weather-wrapper">
      {{#each weatherData}}
        <div class="weather-card madrid">
          <div class="weather-icon"><h6>{{weather.description}}</h6></div>
          <h1>{{temp}}{{#if temp}}<span>°c</span>{{/if}}</h1>
          <p>{{city_name}}</p>
        </div>
      {{/each}}
    </div>
    {{#if newsData}}<div><h2>Articles</h2></div>{{/if}}
    <div class="container">
      {{#each newsData}}
        <div class="card">
          <div class="card__header">
            {{#if urlToImage}}
              <img
                src="{{urlToImage}}"
                alt="card__image"
                class="card__image"
                width="600"
              />
            {{else}}
              <img
                src="{{@root.default_image}}"
                alt="card__image"
                class="card__image"
                width="600"
              />
            {{/if}}
          </div>
          <div class="card__body">
            <h4>{{title}}</h4>
            <p>{{content}}</p>
          </div>
          <div class="card__footer">
            <div class="user">
              <div class="user__info">
                <h5>{{author}}</h5>
                <small>{{publishedAt}}</small>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </body>

</html>