@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}


 *, *:before, *:after {
	 box-sizing: border-box;
}
 .weather-wrapper {
	 margin-top: 20px;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 justify-content: center;
}
 .weather-card {
	 margin: 20px 5px;
	 border-radius: 20px;
	 position: relative;
	 overflow: hidden;
	 width: 270px;
	 height: 270px;
	 background-color: white;
	 box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
	 animation: appear 500ms ease-out forwards;
}
 .weather-card h1 {
	 position: absolute;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 80px;
	 color: #b8b8b8;
	 bottom: 0;
	 left: 35px;
	 opacity: 0;
	 transform: translateX(150px);
	 animation: title-appear 500ms ease-out 500ms forwards;
}
 .weather-card p {
	 position: absolute;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 28px;
	 color: #d2d2d2;
	 bottom: 0;
	 left: 35px;
	 animation: title-appear 1s ease-out 500ms forwards;
}

.weather-card h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #d2d2d2;
	bottom: 0;
	left: 35px;
	animation: title-appear 1s ease-out 500ms forwards;
}
 .weather-icon {
	 position: relative;
	 width: 50px;
	 height: 50px;
	 top: 0;
	 float: right;
	 margin: 40px 40px 0 0;
	 animation: weather-icon-move 5s ease-in-out infinite;
}
 .sun {
	 background: #ffcd41;
	 border-radius: 50%;
	 box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
	 animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}
 @keyframes light {
	 from {
		 box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
	}
	 to {
		 box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
	}
}
 .cloud {
	 margin-right: 60px;
	 background: #b6cede;
	 border-radius: 20px;
	 width: 25px;
	 height: 25px;
	 box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px, #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
}
 .cloud:after {
	 content: "";
	 position: absolute;
	 border-radius: 10px;
	 background-color: transparent;
	 width: 4px;
	 height: 12px;
	 left: 0;
	 top: 31px;
	 transform: rotate(30deg);
	 animation: rain 800ms ease-in-out infinite alternate;
}
 @keyframes rain {
	 from {
		 box-shadow: #2092a9 8px 0px, #2092a9 32px -6px, #2092a9 20px 0px;
	}
	 to {
		 box-shadow: #2092a9 8px 6px, #2092a9 32px 0px, #2092a9 20px 6px;
	}
}
 @keyframes weather-icon-move {
	 50% {
		 transform: translateY(-8px);
	}
}
 .inspiration {
	 margin-top: 80px;
	 color: #709fbe;
	 font-family: 'Lato', sans-serif;
	 font-weight: 300;
	 font-size: 24px;
	 text-align: center;
}
 .inspiration a {
	 color: #ff8f8f;
	 font-weight: 400;
	 animation: all 300ms ease-in-out;
}
 @keyframes appear {
	 0% {
		 transform: scale(0);
	}
	 50% {
		 transform: scale(1.05);
	}
	 75% {
		 transform: scale(0.95);
	}
	 100% {
		 transform: scale(1);
	}
}
 @keyframes title-appear {
	 from {
		 opacity: 0;
		 transform: translateX(150px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1200px;
	margin-block: 2rem;
	gap: 2rem;
  }
  
  img {
	max-width: 100%;
	display: block;
	object-fit: cover;
  }
  
  .card {
	display: flex;
	flex-direction: column;
	width: clamp(20rem, calc(20rem + 2vw), 22rem);
	overflow: hidden;
	box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
	border-radius: 1em;
	background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  
  
  
  .card__body {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
  }
  
  
  .tag {
	align-self: flex-start;
	padding: .25em .75em;
	border-radius: 1em;
	font-size: .75rem;
  }
  
  .tag + .tag {
	margin-left: .5em;
  }
  
  .tag-blue {
	background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
	color: #fafafa;
  }
  
  .tag-brown {
	background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
	color: #fafafa;
  }
  
  .tag-red {
	background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
	color: #fafafa;
  }
  
  .card__body h4 {
	font-size: 1.5rem;
	text-transform: capitalize;
  }
  
  .card__footer {
	display: flex;
	padding: 1rem;
	margin-top: auto;
  }
  
  .user {
	display: flex;
	gap: .5rem;
  }
  
  .user__image {
	border-radius: 50%;
  }
  
  .user__info > small {
	color: #666;
  }